/* You can add global styles to this file, and also import other style files */

label.xng-breadcrumb-trail {
    color:  #BF9553;
}

.product-tabset > .nav-tabs > li.open > a, .product-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .product-tabset > .nav-tabs > li.open > a > i, .product-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .product-tabset > .nav-tabs > li.open .dropdown-menu, .product-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .product-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #BF9553;
    position: relative;
  }
  
  .product-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .product-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .product-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }


.btn-outline-primary{
  color:#522888;
  border-color: #743ac0;
 
}

.btn-primary {
  color:white;
  background:#522888;
  border-color: #743ac0;
 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #522888;
  border-color: #743ac0;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #522888;
  border-color: #743ac0;
  font-weight: bold;
}

.btn-secondary{
  background:#BF9553;
  border: #e9cb9c;
}

.btn-outline-secondary{
  color:#BF9553;
  border-color: #BF9553;
 
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
  color: #fff;
  background-color: #BF9553;
  border-color: #ebe8e4;
}


/* .btn.disabled, .btn:disabled, fieldset:disabled .btn {
  color: #fff;
  pointer-events: none;
  background-color:  #522888;
  border-color: #522888;
  opacity: var(--bs-btn-disabled-opacity);
}
 */



.btn.disabled.btn-primary,
.btn:disabled.btn-primary,
fieldset:disabled .btn.btn-primary {
  color: #fff;
  pointer-events: none;
  background-color:  #522888;
  border-color: #522888;
  opacity: var(--bs-btn-disabled-opacity);
}
.navbar {
  background-color: #522888;
}


.active>.page-link, .page-link.active {
 
  color: var(--bs-pagination-active-color);
  background-color: #522888;
  border-color: #743ac0;
}


.page-link {
  color: #BF9553;
}
.text-primary-purble{
 color: #522888;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #522888;
}
/* 
.form-check-input:checked {
  background-color: #522888;
  border-color: #743ac0;
}
.ngx-gallery-image {

  height: 200px !important;
  width: 200px  !important;

}

.ngx-gallery-image-wrapper {
  height: 200px !important;
  width: 200px  !important;
} */


@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('./assets/fonts/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 16px;
}

//font 
.font-title-h1 {
  font-size: 16px;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .font-title-h1{
      font-size: 14px;
  }
  body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 14px;
  }
}

.user-avatar {
  border: 3px solid #f8f9fa;
  padding: 2px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}


.form-check-input:checked {
  background-color: #522888;
  border-color: #522888;
}

/*   .custom-button.btn-outline-primary {
    color: #522888;
    background-color: transparent;
    border-color: #743ac0;
  }
  
  .custom-button.btn-outline-primary:hover {
    color: #fff;
    background-color: #522888;
    border-color: #743ac0;
  }
  
  .custom-button.btn-outline-primary.focus,
  .custom-button.btn-outline-primary:focus {
    box-shadow: 0 0 0 .1rem rgba(0, 0, 0, .5);
  } */

  .btn-outline-primary,
  .btn-outline-primary:not(:disabled):not(.disabled) {
    color: black;
    border-color: #522888;
  }
  
  .btn-outline-primary:hover {
    color: white;
    background-color: #522888;
    border-color: #522888;
  }
  
  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 40, 136, 0.5);
    color: white;
  }
  
  .btn-outline-primary:active,
  .btn-outline-primary.active {
    color: white;
    background-color: #522888;
    border-color: #522888;
  }
  
  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    color: white;
    color: #522888;
    background-color: transparent;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: white;
    background-color: #522888;
    border-color: #522888;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-outline-primary.dropdown-toggle:focus {
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(82, 40, 136, 0.5);
  }
 /*  .btn-outline-primary {
    border-radius: 0;
  } */

