<div class="d-flex justify-content-center my-5">
  <div class="col-md-6 col-lg-4">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="rtl">
      <div class="text-center mb-4">
        <h3 class="mb-3">نسيت كلمة المرور</h3>
      </div>
      
      <div class="form-floating mb-3">
        <input class="form-control" type="email" id="email" formControlName="email" placeholder="البريد الإلكتروني">
        <label for="email">البريد الإلكتروني:</label>
      </div> 
       
      <div class="d-grid">
        <button [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-primary mt-3" type="submit">إرسال</button>
      </div>
    </form>
  </div>
</div>