<div class="d-flex justify-content-center mt-5">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="rtl">
      <div class="text-center mb-4">
        <h3 class="mb-3">إنشاء حساب جديد</h3>
      </div>
      
      <app-text-input [formControl]="registerForm.controls['displayName']" [label]="'الاسم الكريم'"></app-text-input>
      <app-text-input [formControl]="registerForm.controls['email']" [label]="'عنوان البريد الإلكتروني'"></app-text-input>
      <app-text-input [formControl]="registerForm.controls['password']" [label]="'كلمة المرور'" [type]="'password'"></app-text-input>

      <ul class="text-danger list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>

      <div class="d-grid">
        <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">إنشاء حساب</button>
      </div>
    </form>
  </div>
</div>