<div class="container-fluid ">
  
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block">
     
        <nav> 
       
          <ul class="list-unstyled  full-height">
            <li class=  "li-with-border">
              
              <a>
              
                <h3 class="mt-3 ms-2 font-weight-bold"> القائمة</h3>
                
              </a>
             
            </li>
      
            <li class="">
              <a routerLink="supplier-dashboard" routerLinkActive="active">
                <i class="fa fa-tachometer gray-icon" aria-hidden="true"></i>
                <span class="menu-text"> الإحصاءات</span>
              </a>
            </li>
            <li>
              <a routerLink="supplier-all-orders">
                <i class="fa fa-list-alt gray-icon" aria-hidden="true"></i>
                <span class="menu-text">الطلبات</span>
              </a>
            </li>
            <li>
              <a routerLink="supplier-product-list" >
                <i class="fa fa-building gray-icon" aria-hidden="true"></i>
                <span class="menu-text">المنتجات</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <div class="row pt-3 pb-3 ">
          <div class=" text-center">
           
              <h1 class="text-shadow" >لوحة المورد</h1>
             
              <div class="menu-container d-sm-none">
                <ul class="list-unstyled">
                  <li class="custom-list-item">
                    <a routerLink="supplier-dashboard" routerLinkActive="active">
                      <i class="fa fa-tachometer gray-icon" aria-hidden="true"></i> الإحصاءات
                    </a>
                  </li>
                  <li class="custom-list-item">
                    <a routerLink="supplier-all-orders">
                      <i class="fa fa-list-alt gray-icon" aria-hidden="true"></i> الطلبات
                    </a>
                  </li>
                  <li class="custom-list-item">
                    <a routerLink="supplier-product-list">
                      <i class="fa fa-building gray-icon" aria-hidden="true"></i> المنتجات
                    </a>
                  </li>
                </ul>
            
          </div> 
          <div class="menu-container ">
            <router-outlet></router-outlet> 
          </div>
         
        </div>
        
        
      </div>
    </div>
  </div>
  