<div class="bg-light px-4 py-3 text-uppercase fw-bold">
    ملخص الطلب
</div>
<div class="p-4">
    <p class="fst-italic mb-4">سيتم حساب تكلفة الشحن استنادًا إلى الخيارات المحددة أثناء إتمام عملية الشراء</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">المجموع الفرعي للطلب</strong>
            <strong>{{totals.subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">تكلفة الشحن والتوصيل</strong>
            <strong>{{totals.shipping | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">الإجمالي</strong>
            <strong>{{totals.total | currency}}</strong>
        </li>
    </ul>
</div>