<div class="container">
   <!--  <ng-container *ngIf="totalOrders !== undefined && totalCount !== undefined && totalUsersCount !== undefined"> -->
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">إجمالي طلبات</h5>
            <!--   <h3 class="card-text"> {{ totalOrders }}</h3> -->
              <div class="icon icon-rose">
                <span class="material-icons">shopping_cart</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">إجمالي المنتجات</h5>
             <!--  <h3 class="card-text"> {{ totalCount }}</h3> -->
              <div class="icon icon-success">
                <span class="material-icons">attach_money</span>
              </div>
            </div>
          </div>
        </div>

      </div>
 <!--    </ng-container> -->
  </div>
